@font-face {
  font-family: navigation;
  src: url(https://http2.mlstatic.com/ui/navigation/4.1.4/navigation.eot);
  src: url(https://http2.mlstatic.com/ui/navigation/4.1.4/navigation.eot#iefix)
      format("embedded-opentype"),
    url(https://http2.mlstatic.com/ui/navigation/4.1.4/navigation.woff2)
      format("woff2"),
    url(https://http2.mlstatic.com/ui/navigation/4.1.4/navigation.woff)
      format("woff"),
    url(https://http2.mlstatic.com/ui/navigation/4.1.4/navigation.ttf)
      format("truetype"),
    url(https://http2.mlstatic.com/ui/navigation/4.1.4/navigation.svg#navigation)
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.eot");
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.eot?#iefix")
      format("embedded-opentype"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.woff2")
      format("woff2"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.woff")
      format("woff"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.ttf")
      format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.eot");
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.eot?#iefix")
      format("embedded-opentype"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff2")
      format("woff2"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff")
      format("woff"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.ttf")
      format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.eot");
  src: url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.eot?#iefix")
      format("embedded-opentype"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.woff2")
      format("woff2"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.woff")
      format("woff"),
    url("https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.ttf")
      format("truetype");
}

[class*=" nav-icon-"]:before,
[class^="nav-icon-"]:before {
  font-variant: normal;
  margin: 0;
  speak: none;
  text-align: center;
  width: 1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: navigation;
}

body {
  font-family: "Proxima Nova";
}

.nav-icon-search:before {
  content: "\EA16";
}

.breadcrumb-chevron:after {
  font-family: navigation;
  content: "\EA04";
}

*:focus {
  outline: none;
}
